body{
  margin: 0;
  background-color: black;
}

#canvas {
 
  background-color: rgb(238, 200, 156);
  width: 100%;
  
}

#main_page {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: black;
  margin: 0;
  width: 100%;
}

#main-img {
  display: flex;
  justify-content: center;

  background-color: black;
  width: 100%;
}

#squid_game {
  width: 50%;
}
#player_select {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
}

#onePlayer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#twoPlayers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.text {
 
  color: white;
  font-size: 50px;
  text-align: center;
 
}
.text2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  color: white;
  font-size: 50px;
}

#img_2p {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}
#soldier_square {  
  width: 35%;
}

#soldier_triang {
  width: 20%;
}

#soldier_circle {
  width: 20%;
}
